.header-short {
	padding: 15px;
	font-size: 14px;
}
.header-short a.for-logo {
	position: relative;
	display: block;
	height: 40px;
}
.header-short a.for-logo .logo {
	position: absolute;
	top: -1px;
}
.header-medium {
	padding: 15px;
	min-height: 210px;
	background: #38334b url(../img/header-1.png) center top no-repeat;
}
.header-medium h1, .header-medium h2 {
	margin: 0;
	text-align: center;
}
.header-medium h1 {
	margin-top: 23px;
	font-size: 34px;
	font-weight: 600;
}
.header-medium h2 {
	margin-top: 7px;
	font-size: 16px;
	font-weight: normal;
}

.logo-nopad-131x43 {
	width: 131px;
	height: 43px;
	background: transparent url(../img/logo/131x43.png) left top no-repeat;
}

.icon {
	display: inline-block;
	vertical-align: middle;
	background: transparent url(../img/sprite-1x.png) left top no-repeat;
}
.icon-24 {
	height: 24px;
	width: 24px;
}
.btn-sm .icon-24 {
	margin-bottom: -3px;
	position: relative;
	top: -1px;
	margin-left: 10px;
	margin-right: -7px;
}
