@import "./form-btn.css";

button, select {
	cursor: pointer;
}

form {
	display: block;
}
.form-header {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: normal;
	text-align: center;
	margin: 10px 0;
}
.desktop option {
	background: #ffffff;
	color: #000000;
}

.input-group .form-control,
.input-group .form-control:active, .input-group .form-control:focus, .input-group .form-control:hover {
	z-index: auto;
}
input.form-control, select.form-control {
	font-size: 16px;
	line-height: 20px;
	padding-bottom: 4px;
	padding-left: 0;
	color: black;
	border-color: #bec5d1;
	border-width: 0 0 2px 0;
	border-radius: 0;
}

.with-placeholder {
	position: relative;
}
.with-placeholder input, .with-placeholder input:focus, .with-placeholder input:active,
.with-placeholder select, .with-placeholder select:focus, .with-placeholder select:active,
.with-placeholder select:disabled, .with-placeholder select[readonly]
{
	background: transparent;
}
.with-placeholder select.form-control, .with-placeholder select.form-control:not([size]):not([multiple]) {
	height: 34px;
}

.border4sides input.form-control, .border4sides.input-group.has-danger input,
.border4sides select.form-control, .border4sides.input-group.has-danger select {
	border-width: 1px;
	border-color: #e5e6e7;
	padding-left: 13px;
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 8px;
	background: #ffffff;
}
.border4sides select.form-control, .border4sides.input-group.has-danger select,
.border4sides.with-placeholder select.form-control:not([size]):not([multiple])
{
	height: 40px;
}

label.input-group {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 10px;
}
.placeholder {
	/*z-index: -1;*/
	position: absolute;
	pointer-events: none;
	left: 0px;
	top: 30px;
	font-size: 14px;
	text-transform: uppercase;
	color: #7e8593;
	transition: color 0.1s linear, font-size 0.1s linear, left 0.1s linear, top 0.1s linear;
}
.border4sides .placeholder {
	left: 13px;
	top: 33px;
	text-transform: capitalize;
}
.input-group.placeholder-to-up .placeholder {
	font-size: 12px;
	color: #353535;
	top: 12px;
	font-weight: bold;
}
.input-group.placeholder-to-up.input-group-with-select .placeholder {
	left: 4px;
}
.border4sides.input-group.placeholder-to-up  .placeholder {
	top: 2px;
	left: 0;
	/* font-size: 14px; */
	color: #000000;
}
.input-group.focused .placeholder {
	color: #fc4c04;
}
.input-group:hover input, .input-group.has-danger:hover input,
.input-group:hover select, .input-group.has-danger:hover select {
	border-color: #ffbda2;
}
.input-group.has-danger input {
	border-color: #bec5d1;
}
.input-group.focused input, .input-group.focused:hover input,
.input-group.focused select, .input-group.focused:hover select {
	border-color: #fc4c04;
	outline: none;
}
.input-group .input-hint {
	position: absolute;
	top: 58px;
	font-size: 12px;
	color: #7e8593;
}
.border4sides.input-group .input-hint {
	top: 64px;
}
.input-group.has-danger .input-hint {
	color: #ff0000;
}
.input-group label {
	display: block;
}
.input-group.for-textarea {
	margin-top: 28px;
}

select.btn::after {
	display: block;
	content: "";
}

.checkbox-beauty {
	position: relative;
	margin-right: 1.7em;
}
.form-check-label .checkbox-beauty {
	width: 1.25rem;
	margin-left: -1.25rem;
}
.checkbox-beauty input {
}
.checkbox-beauty .form-check-input, .checkbox-beauty .form-check-input:only-child {
	width: 1px;
	height: 1px;
	opacity: 0.01;
	margin: 0;
	padding: 0;
}
.checkbox-bg {
	position: absolute;
	left: 0em;
	top: 0em;
	width: 1.25em;
	height: 1.25em;
	background: #bec5d1;
	border-radius: 2px;
	transition: background-color 0.15s linear;
}
.checkbox-beauty.checked .checkbox-bg {
	background: #fc4c04;
}
.form-check-label:hover .checkbox-beauty.unchecked .checkbox-bg, .form-check-input:focus + .checkbox-bg {
	background: #ffc8b0;
}
.form-check-label:focus {
	outline: none;
}
.checkbox-checked-1, .checkbox-checked-2 {
	position: absolute;
	left: 50%;
	top: 50%;
	display: block;
	width: 2px;
	background: white;
}
.checkbox-checked-1 {
	margin-top: -0.4em;
	margin-left: 0.1em;
	height: 0.8em;
	background: white;
	transform: rotate(45deg);
}
.checkbox-checked-2 {
	margin-top: -0.05em;
	margin-left: -0.3em;
	height: 0.4em;
	transform: rotate(-45deg);
}
/*
.checkbox-beauty .form-check-input::after, .checkbox-beauty .checkbox-checked {
	position: absolute;
	left: 0em;
	top: -0.2em;
	content: " ";
	width: 1.25em;
	height: 1.25em;
	display: block;
	background: #bec5d1;
	border-radius: 2px;
}
.checkbox-beauty .form-check-label:hover .form-check-input::after {
	background: rgba(252,76,4,0.3);
}
.checkbox-beauty .form-check-input:checked::after, .form-check-label:hover .form-check-input:checked::after {
	background: #fc4c04;
	color: white;
}
.checkbox-beauty .checkbox-checked {
	background: green;
}
*/
