.nobr-mobile {
	white-space: nowrap;
}

.bg-violet {
	background: #38334b;
}
.bg-violet, .bg-violet a {
	color: #ffffff;
}

.bg-violet .btn-outline-secondary,
.bg-violet .btn-outline-secondary:hover, .bg-violet .btn-outline-secondary.hover,
.bg-violet .btn-outline-secondary:active, .bg-violet .btn-outline-secondary.active
{
	color: #ffffff;
}
.bg-violet .btn-outline-secondary:hover, .bg-violet .btn-outline-secondary.hover,
.bg-violet .btn-outline-secondary:active, .bg-violet .btn-outline-secondary.active
{
	background-color: #423c5a;
}

.text-muted, a.text-muted, .text-muted a {
	color: #9c9c9c !important;
}

.red { color: #bc1010; }
.green { color: #63aa17; }

.blink-3 {
	animation-duration: 3s;
	animation-name: blink-3;
}

@keyframes blink-3 {
	from { opacity: 1; }
	16% { opacity: 0; }
	33% { opacity: 1; }
	50% { opacity: 0; }
	66% { opacity: 1; }
	82% { opacity: 0; }
	to { opacity: 1; }
}
