.page-set2fa .apps-block {
    margin-top: 24px;
}
.page-set2fa .app-block {
    width: 32%;
    text-align: center;
}
.page-set2fa .app-block a {
    color: #4224c5;
    font-size: 14px;
}
.page-set2fa .app-block span {
    margin-top: 4px;
    display: flex;
    width: 100%;
    justify-content: center;
}
.page-set2fa .btn-outline-primary {
    background: white;
}

.table-transactions-tokens {
    font-size: 16px;
}
.table-transactions-tokens tr {
    border: 1px solid #e5e6e7;
}
.table-transactions-tokens td, .table-transactions-tokens th {
    padding: 19px 13px 14px 0;
}
.table-transactions-tokens td:first-child, .table-transactions-tokens th:first-child {
    padding-left: 14px;
    padding-right: 51px;
    white-space: nowrap;
}
.transactions-tokens h2 {
    margin-top: 3px;
    margin-bottom: 25px;
    text-transform: uppercase;
}
