.page-set2fa .apps-block {
    margin-top: 24px;
}
.page-set2fa .app-block {
    width: 32%;
    text-align: center;
}
.page-set2fa .app-block a {
    color: #4224c5;
    font-size: 14px;
}
.page-set2fa .app-block span {
    margin-top: 4px;
    display: flex;
    width: 100%;
    justify-content: center;
}
.page-set2fa .btn-outline-primary {
    background: white;
}
